<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Motoristas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/add-edit-motorista/-1">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-searchbar animated="true" [(ngModel)]="searchTerm" placeholder="Pesquise por nome ou cnh"></ion-searchbar>
    <ion-item-sliding *ngFor="let motorista of filterMotoristas()">
      <ion-item>
        <ion-label>
          <h2>{{motorista.nome}}</h2>
          <p>{{motorista.cnh}}</p>
          <ion-button (click)="detalhesMotorista(motorista.id)">
            Ver Detalhes
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-card *ngIf="motoristaSelecionadoId === motorista.id">
        <ion-card-header>
          <ion-card-title>{{motorista.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>CNH: {{motorista.cnh}}</p>
          <p>CPF: {{motorista.cpf}}</p>
          <p>Endereço: {{motorista.endereco}}</p>
          <p>Telefone: {{motorista.telefone}}</p>
          <p>Email: {{motorista.email}}</p>
          <ng-container *ngIf="motorista.veiculos && motorista.veiculos.length > 0">
            <b>VEÍCULOS:</b>
            <ion-list>
              <ion-item *ngFor="let veiculo of motorista.veiculos">
                <ion-label>
                  <h3>{{ veiculo.modelo }}</h3>
                  <p>Placa: {{ veiculo.placa }}</p>
                  <p>Renavam: {{ veiculo.renavam }}</p>
                  <p>Capacidade: {{ veiculo.capacidade }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-container>
        </ion-card-content>
        <ion-button (click)="fecharDetalhesMotorista()">Fechar Detalhes</ion-button>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option routerLink="/add-edit-motorista/{{motorista.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirMotorista(motorista.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>