.form-container {
    margin-top: 20px;
    color: #595959;
  }
  
  ion-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .custom-button {
    margin-top: 20px;
    border: 2px solid red; /* Substituí "bold" por "solid" para especificar um estilo de borda sólida */
  --background: transparent; /* Cor de fundo personalizada *//* Cor de fundo verde semelhante ao iFood */
    --color: red; /* Cor do texto branco */
    border-radius: 20px;
    --box-shadow: none;
  }
  