<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <form  [formGroup]="clienteForm" *ngIf="clienteForm" (ngSubmit)="submit()">

      <ion-input formControlName="nome" label="Nome" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input formControlName="tipo" label="Tipo" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input formControlName="documento" label="Documento" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input formControlName="endereco" label="Endereço" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input formControlName="telefone" label="Telefone" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>

      <ion-button class="custom-button" shape="round" expand="block" padding type="submit" *ngIf="!modoDeEdicao">
        Cadastrar
      </ion-button>

      <ion-button class="custom-button" shape="round" expand="block" padding type="submit" *ngIf="modoDeEdicao">
        Alterar
      </ion-button>
    </form>

</ion-content>