<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Motoristas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="motoristaForm" *ngIf="motoristaForm" (submit)="submit()">
    <ion-input class="input-form" formControlName="nome" label="Nome" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="cnh" label="CNH" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="cpf" label="CPF" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="endereco" label="Endereço" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="telefone" label="Telefone" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="email" label="Email" label-placement="floating" fill="outline" type="text"></ion-input>


    <ion-button class="custom-button" shape="round" expand="block" padding type="submit" [disabled]="!motoristaForm.valid">
      {{ modoDeEdicao ? 'Alterar' : 'Cadastrar' }}
    </ion-button>
  </form>

</ion-content>