<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Motoristas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" 
           horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/add-edit-motorista/-1">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-searchbar animated="true" [(ngModel)]="searchTerm" placeholder="Pesquise por nome ou endereço"></ion-searchbar>
    <ion-item-sliding *ngFor="let motorista of filterMotoristas()" >
      <ion-item>
        <ion-label>
          <h2>{{motorista.nome}}</h2>
          <p>{{motorista.endereco}}</p>
          <ion-button (click)="detalhesMotorista(motorista.id)">
            Ver Detalhes
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-card *ngIf="motoristaSelecionadoId === motorista.id">
        <ion-card-header>
          <ion-card-title>{{motorista.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Endereço: {{motorista.endereco}}</p>
          <p>Tipo: {{motorista.tipo}}</p>
          <p>Documento: {{motorista.documento}}</p>
          <p>Telefone: {{motorista.telefone}}</p>
          <p>Email: {{motorista.email}}</p>
        </ion-card-content>
        <ion-button (click)="fecharDetalhesMotorista()">Fechar Detalhes</ion-button>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option routerLink="/add-edit-motorista/{{motorista.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option color="secondary" (click)="excluirMotorista(motorista.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

</ion-content>
