<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Motoristas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="motoristaForm" *ngIf="motoristaForm" (ngSubmit)="submit()">
    <ion-input formControlName="nome" label="Nome" label-position="floating" type="text"></ion-input>
    <ion-input formControlName="cnh" label="CNH" label-position="floating" type="text"></ion-input>
    <ion-input formControlName="cpf" label="CPF" label-position="floating" type="text"></ion-input>
    <ion-input formControlName="endereco" label="Endereço" label-position="floating" type="text"></ion-input>
    <ion-input formControlName="telefone" label="Telefone" label-position="floating" type="text"></ion-input>
    <ion-input formControlName="email" label="Email" label-position="floating" type="text"></ion-input>


    <ion-button class="custom-button" shape="round" expand="block" padding type="submit" *ngIf="!modoDeEdicao">
      Cadastrar
    </ion-button>

    <ion-button class="custom-button" shape="round" expand="block" padding type="submit" *ngIf="modoDeEdicao">
      Alterar
    </ion-button>
  </form>

</ion-content>