@font-face {
    font-family: RubikGlitch-Regular;
    src: url(../app/fonts/RubikGlitch-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Lady Fiesta;
    src: url('../app/fonts/Lady Fiesta.ttf');
    font-weight: 500;
}