:root {
  --ion-color-primary: #ea1d2c; /* Red */
  --ion-color-primary-contrast: #ffffff; /* White (text color on red) */

  --ion-color-secondary: #ffcc00; /* Yellow (used sparingly in iFood branding) */
  --ion-color-secondary-contrast: #000000; /* Black (text color on yellow) */

  --ion-color-tertiary: #333333; /* Dark Gray (text color) */
  --ion-color-tertiary-contrast: #ffffff; /* White (background color for text) */

  --ion-color-light: #ffffff; /* White (background color) */
  --ion-color-light-contrast: #000000; /* Black (text color on white) */
  
  --ion-color-medium: #6370ff;
	--ion-color-medium-rgb: 99,112,255;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #5763e0;
	--ion-color-medium-tint: #737eff;
}