<ion-content [fullscreen]="true">
  <ion-img src="/assets/logo-sge.png" id="logo-sge"></ion-img>
  <h1>SGE</h1>
  <p>Sistema de Gerenciamento de Entregas</p>
  <form>
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="logar()">Acessar</ion-button>

    <ion-button expand="block" fill="outline" (click)="registrar()">Registrar</ion-button>
  </form>
</ion-content>