ion-content {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-weight: 600;
    color: black;

}

h1{
    text-align: center;
    font-weight: bold;
}

#logo-sge{
    width: 175px;
    height: 175px;
    margin: auto; /* Center the element horizontally */
    display: block; 
}