<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Veiculos
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="veiculoForm" *ngIf="veiculoForm" (ngSubmit)="submit()">
    <ion-input class="input-form" formControlName="modelo" label="Modelo" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="placa" label="Placa" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="renavam" label="Renavam" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="capacidade" label="Capacidade" label-placement="floating" fill="outline" type="text"></ion-input>

    <ion-select class="input-form" formControlName="motoristaId" label="Motoristas" label-placement="floating" fill="outline" placeholder="Selecione um Motorista">
      <ion-select-option *ngFor="let motorista of motoristas" [value]="motorista.id">
        {{ motorista.nome }}
      </ion-select-option>
    </ion-select>

    <ion-button class="custom-button" shape="round" expand="block" padding type="submit" [disabled]="!veiculoForm.valid">
      {{ modoDeEdicao ? 'Alterar' : 'Cadastrar' }}
    </ion-button>

  </form>

</ion-content>