<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="administradorForm" *ngIf="administradorForm" (ngSubmit)="submit()">
    <ion-input class="input-form" formControlName="foto" fill="outline" type="file" label="Foto">
    </ion-input>
    <ion-input class="input-form" formControlName="email" label="Email" label-placement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="input-form" formControlName="senha" label="Senha" placeholder="**********" type="password" value="password" label-placement="floating" fill="outline" type="text"></ion-input>

    <ion-button class="custom-button" shape="round" expand="block" padding type="submit" [disabled]="!administradorForm.valid">
      {{ modoDeEdicao ? 'Alterar' : 'Cadastrar' }}
    </ion-button>

  </form>

</ion-content>a