<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/add-edit-cliente/-1">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-searchbar animated="true" [(ngModel)]="searchTerm" placeholder="Nome ou Endereço"></ion-searchbar>
    <ion-item-sliding *ngFor="let cliente of filterClientes()">
      <ion-item [button]="true">

        <ion-label>
          <div class="nome-avatar">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div>
          <ion-label>{{cliente.nome}}</ion-label>
          <p>{{cliente.endereco}}</p>
        </div>
        </div>
          <ion-button (click)="detalhesCliente(cliente.id)">
            Ver Detalhes
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-card *ngIf="clienteSelecionadoId === cliente.id">
        <ion-card-header>
          <ion-card-title>{{cliente.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Endereço: {{cliente.endereco}}</p>
          <p>Tipo: {{cliente.tipo}}</p>
          <p>Documento: {{cliente.documento}}</p>
          <p>Telefone: {{cliente.telefone}}</p>
          <p>Email: {{cliente.email}}</p>
        </ion-card-content>
        <ion-button class="bottom" (click)="fecharDetalhesCliente()">Fechar Detalhes</ion-button>
      </ion-card>

      <ion-item-options slot="end">
        <ion-item-option color="secondary"  routerLink="/add-edit-cliente/{{cliente.id}}">
          <ion-icon slot="start" name="create"></ion-icon>Editar
        </ion-item-option>

        <ion-item-option (click)="excluirCliente(cliente.id)">
          <ion-icon slot="start" name="trash"></ion-icon>Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>