<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos de Entrega</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-fab class="add" slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/add-edit-pedidoEntrega/-1">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-searchbar animated="true" [(ngModel)]="searchTerm" placeholder="Nome ou Destino"></ion-searchbar>
    <ion-item-sliding *ngFor="let pedidoEntrega of filterPedidoEntregas()">
      {{ iniciarAnimacaoCarrinho(pedidoEntrega.id) }}
      <ion-item *ngIf="!detalhesVisiveis">
        <ion-label>
          <div class="nome-gif">
            <h2>{{ pedidoEntrega.nomeCliente }}</h2>
          
            <!-- Exibe o ícone de play se o carrinho não estiver se movendo -->
            <ion-icon *ngIf="!isCartMoving && !isPendente && !isLate && !isCompleted" [name]="'play'" class="cart-icon"></ion-icon>
          
            <!-- Exibe o gif do caminhão se o carrinho estiver se movendo -->
            <img *ngIf="isCartMoving" src="../../../../assets/caminhao-unscreen.gif" id="carrinho-gif" class="cart-animation" />
          
            <!-- Exibe o ícone radio-button-on-outline se o pedido estiver pendente -->
            <ion-icon *ngIf="isPendente && !isCartMoving && !isLate && !isCompleted" src="../../../../assets/atrasado.svg" class="icon-svg"></ion-icon>
          
            <!-- Exibe o ícone de aviso se o pedido estiver atrasado -->
            <ion-icon *ngIf="isLate && !isCartMoving && !isPendente && !isCompleted" name="warning-outline"></ion-icon>
          
            <!-- Adiciona outros ícones conforme necessário para outros estados de pedidos -->
          </div>
          
          <p>{{pedidoEntrega.destino}}</p>
          <p>{{pedidoEntrega.mercadoria}}</p>
          <ion-button (click)="detalhesPedidoEntrega(pedidoEntrega.id)">
            Ver Detalhes
          </ion-button>
        </ion-label>
      </ion-item>

      <ion-card *ngIf="pedidoEntregaSelecionadoId === pedidoEntrega.id">
        <ion-card-header>
          <ion-card-title>{{pedidoEntrega.nomeCliente}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Descrição: {{pedidoEntrega.mercadoria}}</p>
          <p>Origem: {{pedidoEntrega.origem}}</p>
          <p>Destino: {{pedidoEntrega.destino}}</p>
          <p>Emissão: {{pedidoEntrega.emissao}}</p>
          <p>Data Entrega: {{pedidoEntrega.dataEntrega}}</p>
          <b>Veiculo:</b>
          <p>{{pedidoEntrega.nomeVeiculo}}</p>
        </ion-card-content>
        <ion-button (click)="fecharDetalhesPedidoEntrega()">Fechar Detalhes</ion-button>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option color="secondary" routerLink="/add-edit-pedidoEntrega/{{pedidoEntrega.id}}">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option (click)="excluirPedidoEntrega(pedidoEntrega.id)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Deletar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>