.custom-calendar-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
  }

  #carrinho-gif {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    margin-left: 10px; /* Ajuste o espaçamento conforme necessário */
  }
  
  .cart-icon {
    font-size: 30px; /* Ajuste o tamanho conforme necessário */
  }

  
  .nome-gif{
    display: flex;
    justify-content: space-between;
  }